# Financial data retrieval
yfinance==0.2.44
pandas-datareader==0.10.0
setuptools>=65.5.1

# Data manipulation and analysis
pandas==2.2.3
numpy==2.1.1
openpyxl==3.1.5

# Data visualization
matplotlib==3.9.2
seaborn==0.13.2

# Statistical analysis
statsmodels==0.14.3

# Jupyter notebook
ipykernel==6.29.5